.details-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.detail-wrapper {
  margin-bottom: 15px;
  width: 50%;
}

.detail-label {
  font-weight: 600 !important;
  display: block;
}
.detail-value {
  display: inline;
}

.course-details {
  height: 65vh;
  overflow: auto;
}
